/* start global rules */
:root {
  --main-color: #2196f3;
  --alt-main-color: #1787e0;
  --main-transition-duration: 0.3s;
  --section-padding: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition-duration);
  text-transform: uppercase;
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover {
  animation: main-move 0.5s linear forwards;
  animation-delay: 0.5s;
}
.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
  z-index: -1;
}
.main-title:hover::after {
  animation: right-move 0.5s linear forwards;
  z-index: -1;
}
.dots {
  background-image: url(../imgs/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}
.dots.up {
  right: 0;
  top: 200px;
}
.dots.down {
  left: 0;
  bottom: 200px;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 50px 50px;
}
/* end global rules */
/* start header */
.header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 18px;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition-duration);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 13px;
    height: 35px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition-duration);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  top: calc(100% + 60px);
  transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  z-index: -1;
  height: 100%;
  background-color: #fafafa;
  transition: var(--main-transition-duration);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* end header */
/* start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 22px;
  line-height: 1.6;
  margin: 5px 0 0;
  color: #666;
  max-width: 80%;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition-duration);
}
.landing .go-down:hover {
  color: var(--alt-main-color);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* end landing */
/* start artikles */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .box {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0 0 0 / 10%);
  transition: transform var(--main-transition-duration),
    box-shadow var(--main-transition-duration);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0 0 0 / 20%);
}
.articles .box img {
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* end artikles */
/* start gallery */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 99;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box .image img {
  max-width: 100%;
  transition: var(--main-transition-duration);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* end gallery */
/* start features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .image {
  position: relative;
  overflow: hidden;
}
.features .box .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* colors */
.features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .box .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition-duration);
}
.features .box:hover .image::after {
  border-width: 170px 500px 170px 0;
  border-color: transparent transparent white transparent;
}
.features .box .image img {
  max-width: 100%;
}
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .time h2::after {
  background-color: #009688;
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.features .box a {
  position: relative;
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  overflow: hidden;
}
.features .quality a {
  border-color: #f44036;
  color: #f44036;
}
.features .time a {
  border-color: #009688;
  color: #009688;
}
.features .passion a {
  border-color: #03a9f4;
  color: #03a9f4;
}
.features .box a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: var(--main-transition-duration);
  left: -100%;
  top: 0;
}
.features .quality a::before {
  background-color: #f44036;
}
.features .time a::before {
  background-color: #009688;
}
.features .passion a::before {
  background-color: #03a9f4;
}
.features .box:hover a {
  color: white;
  background-position: left bottom;
  z-index: 2;
}
.features .box:hover a::before {
  transform: translateX(100%);
  z-index: -1;
}
/* end features */
/* start testimonials*/
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  padding: 20px;
  position: relative;
}
.testimonials .box .image {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid var(--section-background);
  top: -50px;
  right: -10px;
}
.testimonials .box .image img {
  max-width: 100%;
}
.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  color: #777;
  line-height: 1.5;
  margin: 10px 0 0;
}
/* end testimonials*/
/* start team */
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .box {
  position: relative;
}
.team .box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 60px);
  height: 100%;
  border-radius: 10px;
  background-color: var(--section-background);
  z-index: -2;
}
.team .box::after {
  content: "";
  position: absolute;
  background-color: #e4e4e4;
  width: 0;
  height: 100%;
  border-radius: 10px;
  right: 0;
  top: 0;
  z-index: -1;
  transition: var(--main-transition-duration);
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
  width: 100%;
}
.team .box .data img {
  max-width: 100%;
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition-duration);
}
.team .box:hover .data img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.team .box .data .social a i {
  color: #777;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition-duration);
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  color: var(--main-color);
  margin-bottom: 0;
  font-size: 22px;
  transition: var(--main-transition-duration);
}
.team .box:hover .info h3 {
  color: #777;
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* end team */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition-duration);
  position: relative;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box::before {
  transition: var(--main-transition-duration);
  content: "";
  width: 0;
  height: 3px;
  color: var(--main-color);
  position: absolute;
  left: 50%;
  top: -3px;
  background-color: var(--main-color);
}
.services .box:hover::before {
  width: 100%;
  left: 0;
}
.services .box i {
  color: #d5d5d5;
  display: block;
  margin: 30px auto 20px;
  text-align: center;
}
.services .box h3 {
  color: var(--main-color);
  text-align: center;
  font-size: 24px;
  margin: 20px 0 30px;
}
.services .box .info {
  position: relative;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: right;
}
.services .box .info::before {
  content: counter(services, decimal-leading-zero);
  position: absolute;
  color: white;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}
.services .box .info::after {
  content: "";
  width: 50px;
  height: calc(100% + 0.4px);
  background-color: #d5d5d5;
  position: absolute;
  left: 80px;
  top: 0;
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}
/* end services */
/* start our-skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.our-skills .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .our-skills .image {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skills h3 span {
  font-size: 12px;
  color: var(--main-color);
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
}
.our-skills .skills .skill-prog {
  width: 100%;
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skills .skill-prog span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  height: 100%;
}
/* end our-skills */
/* start work-steps */
.work-steps {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .container .image img {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .work-steps .container .image img {
    margin: 0 0 50px;
  }
}
.work-steps .boxes {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.work-steps .boxes .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.work-steps .boxes .box::before {
  content: "";
  position: absolute;
  background-color: #ededed;
  width: 0;
  height: 0;
  z-index: -1;
  top: 50%;
  left: 50%;
  transition: var(--main-transition-duration);
}
.work-steps .boxes .box:hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.work-steps .boxes .box img {
  width: 64px;
  margin-right: 30px;
}
.work-steps .boxes .box .info h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .boxes .box .info p {
  line-height: 1.7;
  color: #777;
  margin: 10px 0 0;
  font-size: 18px;
}
/* end work-steps */
/* start events */
.events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.events .container {
  display: flex;
  align-items: center;
}
.events img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .events img {
    display: none;
  }
}
.events .info {
  flex: 1;
}
.events .info .counter {
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: center;
  gap: 10px;
}
.events .info .counter .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
  text-align: center;
  background-color: white;
  z-index: 99;
}
.events .info .counter .unit span {
  display: block;
}
.events .info .counter .unit span:first-child {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.events .info .counter .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  text-align: center;
}
.events .info .title {
  margin: 40px 0 0;
  font-size: 30px;
  text-align: center;
  background-color: white;
  z-index: 99;
}
.events .info .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
  background-color: white;
  z-index: 99;
}
.events .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 50px;
  background-color: #f6f5f5;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}
.events .subscribe input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
  transition: var(--main-transition-duration);
}
.events .subscribe input[type="email"]:focus {
  outline: none;
}
.events .subscribe input[type="submit"] {
  border-radius: 50px;
  color: white;
  background-color: var(--main-color);
  padding: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: var(--main-transition-duration);
}
@media (max-width: 767px) {
  .events .subscribe input[type="email"],
  .events .subscribe input[type="submit"] {
    border-radius: 0;
  }
}
/* end events */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--section-background);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
@media (min-width: 1200px) {
  .pricing .container .box.popular {
    transform: translateY(-20px);
  }
}
.pricing .box {
  position: relative;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  text-align: center;
  transition: var(--main-transition-duration);
  z-index: 1;
}
.pricing .box.popular .lable {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
  padding: 10px 20px 10px 10px;
  color: white;
  background-color: var(--main-color);
  top: 47px;
  right: -30px;
  transform: rotate(90deg);
}
.pricing .box.popular .lable::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  border-style: solid;
  border-width: 20px;
  border-color: var(--main-color) transparent var(--main-color)
    var(--main-color);
}
.pricing .box::before,
.pricing .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition-duration);
}
.pricing .box::before {
  top: 0;
  left: 0;
}
.pricing .box::after {
  bottom: 0;
  right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}
.pricing .box .title {
  font-weight: bold;
  letter-spacing: -1px;
  margin: 30px 0;
  font-size: 25px;
}
.pricing .box img {
  margin-bottom: 30px;
  width: 80px;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .price .amount {
  font-size: 60px;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 5px;
}
.pricing .box .price .time {
  color: #777;
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  color: var(--main-color);
  margin-right: 10px;
  font-size: 20px;
}
.pricing .box a {
  display: block;
  margin: 30px auto 40px;
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  color: var(--main-color);
  font-weight: bold;
  width: fit-content;
  transition: var(--main-transition-duration);
}
.pricing .box a:hover {
  background-color: var(--main-color);
  color: white;
}
/* start vedio */
.vedio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.vedio .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .vedio .holder {
    flex-direction: column;
  }
}
.vedio .holder .list {
  min-width: 300px;
  background-color: white;
}
.vedio .holder .list .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  background-color: #f4f4f4;
}
.vedio .holder .list ul li {
  border-top: 1px solid var(--section-background);
  padding: 20px;
  transition: var(--main-transition-duration);
  cursor: pointer;
}
.vedio .holder .list ul li span {
  display: block;
  color: #777;
  margin-top: 10px;
}
.vedio .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.vedio .holder .preview {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vedio .holder .preview .info {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
.vedio .holder .preview img {
  max-width: 100%;
}
/* end vedio */
/* start stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../imgs/stats.jpg");
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255 255 255 / 90%);
}
.stats h2 {
  position: relative;
  margin: 0 auto 50px;
  font-size: 40px;
  font-weight: bold;
  width: fit-content;
}
.stats .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.stats .container .box {
  background-color: white;
  padding: 30px 15px;
  opacity: 0.75;
  transition: var(--main-transition-duration);
  text-align: center;
  position: relative;
}
.stats .container .box:hover {
  opacity: 1;
}
.stats .container .box::before,
.stats .container .box::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: 1s;
  background-color: var(--main-color);
}
.stats .container .box::before {
  left: -2px;
  bottom: 0;
}
.stats .container .box::after {
  right: -2px;
  top: 0;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}
.stats .container .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}
.stats .container .box .text {
  color: var(--main-color);
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
/* end stats */
/* start discound */
.discound {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discound .content {
  text-align: center;
  padding: 0 20px;
}
.discound .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discound .content p {
  line-height: 1.7;
  font-size: 18px;
  max-width: 500px;
}
.discound .image {
  background-image: url("../imgs/discount-background1.jpg");
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-bg 10s linear infinite;
}
.discound .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224/ 95%);
  z-index: -1;
}
@media (max-width: 991px) {
  .discound .image {
    flex-basis: 100%;
  }
}
.discound .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .discound .form {
    flex-basis: 100%;
  }
}
.discound .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discound .form textarea.input {
  resize: none;
  height: 200px;
}
.discound .form .input:focus {
  outline: none;
}
.discound .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition-duration);
}
.discound .form [type="submit"]:hover {
  background-color: var(--alt-main-color);
}
.discound .content img {
  width: 300px;
  max-width: 100%;
}
/* end discound */
/* start footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
  font-weight: bold;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition-duration);
}
.footer .box .social li a.facebook:hover {
  background-color: #1877f2;
}
.footer .box .social li a.twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social li a.youtube:hover {
  background-color: #ff0000;
}
.footer .box:last-child img {
  max-width: 100%;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition-duration);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition-duration);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin: 0 0 10px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .box.footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 0;
  border-top: 1px solid #444;
}

/* end footer */
/* start animation*/
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}
@keyframes main-move {
  100% {
    border-color: white;
    color: white;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-bg {
  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
/* end animation */
